<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top scrolling-navbar">
    <div class="container">
        <a href="{% url 'main' %}" class="navbar-brand">Places Remember</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 smooth-scroll">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'memories' %}" class="nav-link" aria-current="page">Your
                            Memories</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'add_memory' %}" class="nav-link" aria-current="page">
                            <i class="fa fa-plus"></i>
                            Add Memory
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <div class="navbar-nav d-flex ml-auto justify-content-end smooth-scroll">
                    <img src="{{ picture_url }}" alt="User photo" width="30" height="30"
                         class="mr-2 mt-1 rounded-circle">
                    <span class="navbar-text text-gray">{{ user.first_name }} {{ user.last_name }}</span>
                </div>
            {% endif %}
            <ul class="navbar-nav ml-5 justify-content-end smooth-scroll">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link" aria-current="page">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'social:begin' 'facebook' %}" class="nav-link" aria-current="page">
                            <i class="fa fa-facebook"></i>
                            Login via FB
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'social:begin' 'vk-oauth2' %}" class="nav-link" aria-current="page">
                            <i class="fa fa-vk"></i>
                            Login via VK
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>