{% extends 'base.html' %}
{% block header %}
    {% include 'include/header.html' %}
{% endblock header %}
{% block body %}
    <div id="intro" class="view">
        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-10">
                        <h2 class="display-4 font-weight-bold text-light pt-5 mb-2">
                            Remember all Your Impressions
                        </h2>
                        <hr class="hr-light">
                        <h4 class="my-4 text-light">
                            Here you can store all your impressions, so you can remember it anytime! It's simple:
                            add
                            title,
                            description and point place on map!
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

<!-- Custom scripts -->
